.carousel-caption {
    position: absolute;
    right: 0%;
    top: 23%;
    left: 22%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align:left;
    text-shadow: 2px 2px 3px rgb(0 0 0);
}
.campus{
    font-family:var(--font-montserrat) ;
    font-weight:bolder

}
@media screen and (max-width: 600px){
    .carousel-caption {
        top: -20%;
        left: 12%;
    }
}