#main-box {
  width: 80%;
  margin: 0 auto;
}
#main-title {
  position: relative;
  font-family: var(--font-lato);
  font-size: 30px;
  margin-left: 10%;
  margin-top: 55px;
  margin-bottom: 90px;
}
#title-under-1 {
  position: absolute;
  top: 20px;
  left: -1px;
  background-color: var(--color-green);
  opacity: 0.5;
  width: 164px;

  height: 10px;
}

#main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 20px;
  margin-bottom: 190px;
}

#img-accueil-1 {
  background: url(../img/carre-presentation-promos/ordi/pic-web-dev.jpg)
    center/cover;
  height: 310px;
  width: 347px;
  margin: 0 auto;
  position: relative;
}
#img-accueil-2 {
  background: url(../img/carre-presentation-promos/ordi/pic-designer-web.jpg)
    center/cover;
  height: 310px;
  width: 347px;
  margin: 0 auto;
  position: relative;
}
#img-accueil-3 {
  background: url(../img/carre-presentation-promos/ordi/pic-chef-de-projet.jpg)
    center/cover;
  height: 310px;
  width: 347px;
  margin: 0 auto;
  position: relative;
}
#img-accueil-4 {
  background: url(../img/carre-presentation-promos/ordi/pic-graphiste-digital-min.jpg)
    center/cover;
  height: 310px;
  width: 347px;
  margin: 0 auto;
  position: relative;
}

.hover-txt {
  position: absolute;
  height: 310px;
  width: 347px;
  top: 0px;
  background: #004f73b4;
  opacity: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-txt:hover {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-txt p {
  text-align: center;
  align-items: center;
  font-family: "montserrat";
  color: white;
}

.hover-txt-2 {
  position: absolute;
  height: 310px;
  width: 347px;
  top: 0px;
  background: #004f73b4;
  opacity: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-txt-2:hover {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-txt-2 p {
  text-align: center;
  align-items: center;
  font-family: "montserrat";
  color: white;
}

.pixel {
  height: 310px;
  width: 347px;
}

.main-grid-item {
  width: 100%;
  padding: 20px;
}
.item-img {
  width: 85%;
}
.item-title {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 600;
  color: var(--color-grey);
}
.item-text {
  font-family: var(--font-lato);
  font-size: 16px;
  color: var(--color-grey);
  margin: 0 20%;
}

@media screen and (max-width: 930px) {
  #img-accueil-1,
  #img-accueil-2,
  #img-accueil-3,
  #img-accueil-4 {
    width: 255px;
    height: 228px;
  }

  .pixel {
    width: 255px;
    height: 228px;
  }

  .hover-txt {
    position: absolute;
    height: 228px;
    width: 255px;
    top: 0px;
    background: #004f73b4;
    opacity: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hover-txt-2 {
    position: absolute;
    height: 228px;
    width: 255px;
    top: 0px;
    background: #004f73b4;
    opacity: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-text {
    margin: 0 10%;
  }
}

@media screen and (max-width: 768px) {
  #main-title {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 38px;
  }
  #title-under-1 {
    position: absolute;
    top: 15px;
    left: -1px;
    background-color: var(--color-green);
    opacity: 0.5;
    width: 110px;

    height: 10px;
  }

  /* #img-accueil-1,
  #img-accueil-2,
  #img-accueil-3,
  #img-accueil-4 {
    width: 255px;
    height: 228px;
  }

  .pixel {
    width: 255px;
    height: 228px;
  } */

  #main-grid {
    grid-template-columns: 1fr;
    margin-bottom: 100px;
  }
  .main-grid-item {
    width: 100%;
    padding: 20px;
  }
  .item-title {
    font-weight: bold;
    font-size: 14px;
  }
  .item-text {
    font-size: 14px;
    margin: 0 10%;
  }

  .hover-txt {
    display: none;
  }
  .hover-txt-2 {
    display: none;
  }
}
