@font-face {
    font-family: "montserrat";
    src: url(../font/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "lato";
    src: url(../font/lato/Lato-Regular.ttf);
}

:root {
    --color-green : #009aa3 ;
    --color-blue : #004f73 ;
    --color-dark-blue : #122940 ;
    --color-grey : #6f6f6e ;

    --color-white: #fff;
    --color-black: #000;


    --font-montserrat: 'montserrat', sans-serif;
    --font-lato: 'lato', sans-serif;

}